<div class="col-lg-8 mx-auto">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="container-mess-error">
                    <div class="content-mess-error">
                        <span class="icon-mess-error"><i class="mdi mdi-alert"></i></span>
                        <div class="wapper-mess-error" id="mess-error">
                        </div>
                    </div>
                    <span class="close-mess-error"><i class="mdi mdi-close"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>