@using Microsoft.JSInterop
<div class="role-pill"
     @ref="el"
     tabindex="0"
     data-bs-toggle="popover"
     data-bs-trigger="hover focus"
     data-bs-placement="bottom"
     data-bs-html="true"
     data-bs-title="@GroupName"
     data-bs-content='@($"<div><b>Mã:</b> {GroupCode}</div><div><b>Tên:</b> {GroupName}</div>")'>
    @DisplayText
</div>

@code {
    [Parameter] public string GroupCode { get; set; } = "";
    [Parameter] public string GroupName { get; set; } = "";
    [Parameter] public string? DisplayText { get; set; }

    private ElementReference el;
    [Inject] IJSRuntime JS { get; set; } = default!;
    private IJSObjectReference? _module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("popoverHelper.initPopover", el);
        }
        
    }

    public async ValueTask DisposeAsync()
    {
        if (_module is not null)
        {
            await _module.InvokeVoidAsync("disposePopover", el);
            await _module.DisposeAsync();
        }
    }
}
