@page "/view/edit/{id}"
@using System.Text.Json
@using VTTGROUP.Blazor.Components.CompChilds
@using VTTGROUP.Domain.Helpers
@using VTTGROUP.Domain.Model.View
@using VTTGROUP.Infrastructure.Database
@using VTTGROUP.Infrastructure.Services
@using VTTGROUP.Domain.Model
@inject ViewService ViewService
@inject BlockService BlockService
@inject IBaseService BaseService
@inject IJSRuntime JS
@inject NavigationManager Nav

<EditForm id="formDuAn" EditContext="@editContext">
    <h1 class="legend-title">View mặt khối</h1>
    <div class="container-form">
        <div class="container-tabs">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <MessageErrorForm />
            <div class="wapper-content-tab">
                <div data-id="1" class="tab-content-item actived-tab" id="tab1">
                    <div class="col-lg-10 mx-auto row">
                        <div class="wapper-input col-lg-12">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Dự án</span>
                                    <DisableTextBox Value="@Record.TenDuAn" />
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Mã view</span>
                                    <DisableTextBox Value="@Record.MaView" />
                                </div>
                            </div>

                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Tên view <i class="point-validate">*</i></span>
                                    <InputText class="form-control input-validation" id="TenView" @bind-Value="Record.TenView" />
                                    <span class="error-validation">Vui lòng nhập tên View</span>
                                </div>
                            </div>
                        </div>

                        <div class="wapper-input col-lg-6" style="display:none">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Hệ số <i class="point-validate">*</i></span>
                                    <InputNumber @bind-Value="Record.HeSoView"
                                                 class="form-control"
                                                 id="HeSoViTri"
                                                 step="0.01" style="width:100%;text-align:right" />
                                    <span class="error-validation">Vui lòng nhập hệ số</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-button">
        <div class="actions-left">
            <UiButton Preset="back" Variant="secondary" OnClick="BackUrl" />
        </div>
        <div class="actions-right">
            <UiButton Preset="save" Variant="primary" OnClick="SubmitFormJs" />
        </div>

    </div>
</EditForm>
@code {
    [Parameter]
    public string? id { get; set; }
    private EditContext editContext;
    private ViewModel? Record = new();
    private List<DaDanhMucDuAn> ListDA = new();

    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(Record);
        ListDA = await BlockService.GetByDuAnAsync();
        var result = await ViewService.GetByIdAsync(id ?? string.Empty);
        if (result.Status)
        {
            Record = (ViewModel?)result.Data;
            if (Record == null)
            {
                Record = new ViewModel();
            }

        }
        else
        {
            await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BaseService.CheckPermissionAsync("DieuChuyenCanHo", VuViec.Them.GetDescription());
            await JS.InvokeVoidAsync("select2Helper.initSelectChange", "MaDuAn", "Chọn dự án", true);
            if (!string.IsNullOrEmpty(Record.MaDuAn))
            {
                await JS.InvokeVoidAsync("select2Helper.setValue", "MaDuAn", Record.MaDuAn.ToString());
            }
        }
    }

    private async Task SubmitFormJs()
    {
        var dotNetRef = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("validateFormBlazor", "formDuAn", dotNetRef);
    }

    [JSInvokable]
    public async Task SubmitForm()
    {
        var result = await ViewService.UpdateByIdAsync(Record);
        await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
        if (result.Status)
        {
            Nav.NavigateTo($"/view/edit/{Record.MaView}");
        }
    }

    private void BackUrl()
    {
        Nav.NavigateTo("/view");

    }
}
