@page "/dotmoban/edit/{id}"
@using System.Text.Json
@using VTTGROUP.Blazor.Components.CompChilds
@using VTTGROUP.Blazor.Components.Pages.Uploads
@using VTTGROUP.Domain.Helpers
@using VTTGROUP.Domain.Model.Block
@using VTTGROUP.Domain.Model.DMDotMoBan
@using VTTGROUP.Infrastructure.Database
@using VTTGROUP.Infrastructure.Services
@using VTTGROUP.Domain.Model
@inject IBaseService BaseService
@inject BlockService BlockService
@inject DMDotMoBanCanHoService DMDotMoBanCanHoService

@inject IJSRuntime JS
@inject NavigationManager Nav
<EditForm id="formDuAn" EditContext="@editContext">
    <h1 class="legend-title">ĐỢT MỞ BÁN</h1>
    <div class="container-form">
        <div class="container-tabs">
            <MessageErrorForm />
            <div class="wapper-content-tab">
                <div data-id="1" class="tab-content-item actived-tab" id="tab1">
                    <div class="col-lg-10 mx-auto row">
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Dự án</span>
                                    <DisableTextBox Value="@Record.TenDuAn" />
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Mã đợt</span>
                                    <DisableTextBox Value="@Record.MaDotMoBan" />
                                    <InputText hidden @bind-Value="Record.MaDotMoBan" />
                                </div>
                            </div>

                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Tên đợt <i class="point-validate">*</i></span>
                                    <InputText class="form-control input-validation" @bind-Value="Record.TenDotMoBan" id="TenDotMoBan" />
                                    <span class="error-validation">Vui lòng nhập tên đợt</span>
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Thứ tự hiển thị <i class="point-validate">*</i></span>
                                    <InputCurrency T="int" Id="ThuTuHienThi" Format="#,##0" CssClass="input-form input-validation" @bind-Value="Record.ThuTuHienThi" />
                                    <span class="error-validation">Vui lòng nhập số thứ tự hiển thịn</span>
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Ngày bắt đầu <i class="point-validate">*</i></span>
                                    <FlatpickrInput Id="NgayBatDau" Name="NgayBatDau" @bind-Value="Record.NgayBatDau"
                                                    Placeholder=""
                                                    CssClass="form-control input-validation datetime-picker"
                                                    Options="dateOptions" />
                                    <span class="error-validation">Vui lòng chọn ngày bắt đầu</span>
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Ngày kết thúc <i class="point-validate">*</i></span>
                                    <FlatpickrInput Id="NgayKetThuc" Name="NgayKetThuc" @bind-Value="Record.NgayKetThuc"
                                                    Placeholder=""
                                                    CssClass="form-control input-validation datetime-picker"
                                                    Options="dateOptions" />
                                    <span class="error-validation">Vui lòng chọn ngày kết thúc</span>
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-12">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Mã màu </span>
                                    <input type="color"
                                           id="MaMau"
                                           class="form-control form-control-color"
                                           @bind="Record.MaMau"
                                           style="width: 100px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-button">
        <div class="actions-left">
            <UiButton Preset="back" Variant="secondary" OnClick="BackUrl" />
        </div>
        <div class="actions-right">
            <UiButton Preset="save" Variant="primary" OnClick="SubmitFormJs" />
        </div>

    </div>
</EditForm>
@code {
    private object dateOptions = new
    {
        dateFormat = "d/m/Y",
        enableTime = false,
        todayButton = true
    };
    [Parameter]
    public string? id { get; set; }
    private EditContext editContext;
    private DotMoBanModel? Record = new();
    private List<DaDanhMucDuAn> ListDA = new();
    // Các giá trị lấy từ Record
    private List<Select2Config> _select2Configs = new();
    private bool _isRendered = false;
    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(Record);
        ListDA = await BlockService.GetByDuAnAsync();
        var result = await DMDotMoBanCanHoService.GetByIdAsync(id ?? string.Empty);
        if (result.Status)
        {
            Record = (DotMoBanModel?)result.Data;
            if (Record == null)
            {
                Record = new DotMoBanModel();
            }
        }
        else
        {
            await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BaseService.CheckPermissionAsync("DotMoBanCH", VuViec.CapNhat.GetDescription());
            _isRendered = true;
            _select2Configs = new()
            {
                new("MaDuAn", "Chọn dự án", Record.MaDuAn?.ToString())
            };
        }
    }

    private async Task SubmitFormJs()
    {
        var dotNetRef = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("validateFormBlazor", "formDuAn", dotNetRef);

    }

    [JSInvokable]
    public async Task SubmitForm()
    {
        var result = await DMDotMoBanCanHoService.UpdateByIdAsync(Record);
        await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
        if (result.Status)
        {
            Nav.NavigateTo($"/dotmoban/edit/{Record.MaDotMoBan}");
        }
    }

    private void BackUrl()
    {
        Nav.NavigateTo("/dotmoban");
    }

    public class Select2Config
    {
        public string id { get; set; }
        public string placeholder { get; set; }
        public string? value { get; set; }
        public bool allowClear { get; set; } = true;

        public Select2Config(string id, string placeholder, string? value)
        {
            this.id = id;
            this.placeholder = placeholder;
            this.value = value;
        }
    }
}
