@using System.Globalization
@using VTTGROUP.Blazor.Components.Pages.Paging
@using VTTGROUP.Domain.Model.DuAn
@using VTTGROUP.Domain.Model.DMDotMoBan
@using VTTGROUP.Infrastructure.Services
@using VTTGROUP.Blazor.Components.CompChilds
@inject DuAnService DuAnService
@inject DMDotMoBanCanHoService DMDotMoBanCanHoService
@inject IJSRuntime JS


<div class="modal fade" id="PopupCreateDotModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Thêm mới đợt</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
			</div>
			<div class="modal-body modal-wraper" id="modal-body-dot">
				<EditForm id="formDuAn" EditContext="@editContext">
					<div class="col-lg-12 mx-auto row">
						<div class="wapper-input col-lg-6 mb-3">
							<div class="row">
								<div class="form-group-input">
									<span class="title-field">Mã đợt <i class="point-validate">*</i></span>
									<InputText class="form-control input-validation" @bind-Value="Record.MaDotMoBan" id="MaDotMoBan" />
									<span class="error-validation">Vui lòng nhập mã đợt </span>
								</div>
							</div>

						</div>
						<div class="wapper-input col-lg-6 mb-3">
							<div class="row">
								<div class="form-group-input">
									<span class="title-field">Tên đợt <i class="point-validate">*</i></span>
									<InputText class="form-control input-validation" @bind-Value="Record.TenDotMoBan" id="TenDotMoBan" />
									<span class="error-validation">Vui lòng nhập tên đợt</span>
								</div>
							</div>
						</div>						
						<div class="wapper-input col-lg-6 mb-3">
							<div class="row">
								<div class="form-group-input">
									<span class="title-field">Thứ tự hiển thị <i class="point-validate">*</i></span>
									<InputCurrency T="int" Id="ThuTuHienThi" Format="#,##0" CssClass="input-form input-validation" @bind-Value="Record.ThuTuHienThi" />
									<span class="error-validation">Vui lòng nhập số thứ tự hiển thị</span>
								</div>
							</div>
						</div>
						<div class="wapper-input col-lg-6 mb-3">
							<div class="row">
								<div class="form-group-input">
									<span class="title-field">Mã màu </span>
									<input type="color"
									id="MaMau"
									class="form-control form-control-color"
									@bind="Record.MaMau"
									style="width: 100px;" />
								</div>
							</div>
						</div>
						<div class="wapper-input col-lg-6">
							<div class="row">
								<div class="form-group-input">
									<span class="title-field">Ngày bắt đầu <i class="point-validate">*</i></span>
									<FlatpickrInput Id="NgayBatDau" Name="NgayBatDau" @bind-Value="Record.NgayBatDau"
									Placeholder=""
									CssClass="form-control input-validation datetime-picker"
									Options="dateOptions" />
									<span class="error-validation">Vui lòng chọn ngày bắt đầu</span>
								</div>
							</div>
						</div>
						<div class="wapper-input col-lg-6">
							<div class="row">
								<div class="form-group-input">
									<span class="title-field">Ngày kết thúc <i class="point-validate">*</i></span>
									<FlatpickrInput Id="NgayKetThuc" Name="NgayKetThuc" @bind-Value="Record.NgayKetThuc"
									Placeholder=""
									CssClass="form-control input-validation datetime-picker"
									Options="dateOptions" />
									<span class="error-validation">Vui lòng chọn ngày kết thúc</span>
								</div>
							</div>
						</div>
					</div>
				</EditForm>
			</div>
			<div class="modal-footer">
				<button type="button" class="button button-action button-luu-phieu" @onclick="SubmitFormJs">
					Lưu
				</button>
				<button type="button" class="button button-action button-huy" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public EventCallback OnLoadDot { get; set; }

	private object dateOptions = new
	{
		dateFormat = "d/m/Y",
		enableTime = false,
		todayButton = true
	};
	private EditContext editContext;
	private DotMoBanModel? Record = new();
	private DuAnModel? duAn = new();

	protected override async Task OnInitializedAsync()
	{
		editContext = new EditContext(Record);
	}

	public async Task Show(string maDuAn)
	{
		Record = new DotMoBanModel();
		Record.MaDuAn = maDuAn;
		await JS.InvokeVoidAsync("bootstrapModal.show", "#PopupCreateDotModal");
		duAn = await DuAnService.GetDuAnSingleAsync(maDuAn);
		StateHasChanged();
	}

	private async Task SubmitFormJs()
	{
		var dotNetRef = DotNetObjectReference.Create(this);
		await JS.InvokeVoidAsync("validateFormBlazor", "modal-body-dot", dotNetRef);

	}

	[JSInvokable]
	public async Task SubmitForm()
	{
		var result = await DMDotMoBanCanHoService.SaveDMBAsync(Record);
		await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
		await JS.InvokeVoidAsync("bootstrapModal.hide", "#PopupCreateDotModal");
		await OnLoadDot.InvokeAsync();
	}
}
